__pycache__/
output/Percentage_in_focus_per_well.csv
output/in_focus_organoids
output/segmented_organoids
output/in_out_focus_masks
output/output_plot.png
output/organoid_object_plot.png
data/Full_plate
output/organoid_greyscale_plot.tif
output/organoid_object_plot.tif
output/organoid_focus_masks_plot.tif
data/Andrew
data/Rouan
data/Mei
data/Alberto
data/Mara
output/Andrew
output/Rouan
output/Mei
output/Alberto
output/Mara